html{
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  transition: all 0.3s;
}

body{
  background: #222;
  color: #fefefe;
}

h2{
  text-align: center;
}

/* NAVBAR MENU */
.navbar{
  background: #111;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px #000;
}

.navbar-brand img{
  width: 180px;
  height: auto;
}
/* HOME SECTION*/
#home-section{
  background: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  min-height: 700px;
}

#home-section .dark-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.2);
}

#home-section .who{
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 20px;
  right: 5%;
  padding:1% 4%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}
/* BAND SECTION */
#band-section{
  box-shadow: 0px 0px 10px #000;
}

.member{
  margin: 0;
  overflow: hidden;
}

.member img{
  width: auto;
  height: 200px;
}

.style p{
  margin-top: 15px;
  padding: 2%;
  font-size: 110%;
}

.band .member{
  margin-top: 15px;
}

/* INTERVIEWS SECTION */
#interviews-section{
  box-shadow: 0px 0px 10px #000;
}

#interviews-section iframe{
  margin-top: 15px;
}

/* MEDIA SECTION */
#media-section .media{
  margin-top: 15px;
  padding: 15px;
}

/* SUPPORT SECTION */
#support-section{
  background: #1a1a1a;
  box-shadow: 0px 0px 10px #000;
}

#support-section .staff{
  margin: 0;
  overflow: hidden;
  margin: 15px 0;
}

#support-section .staff img{
  width: auto;
  height: 200px;
}

#support-section p{
  text-align: center;
}

/* FOOTER */
#main-footer{
  background: #111;
  box-shadow: 0px 0px 10px #000;
}

#main-footer a{
  color: #fefefe;
  transition: all 0.3s;
}

#main-footer a:hover{
  color: red;
}

@media only screen and (max-width: 992px){
  #interviews-section iframe{
    height: 400px;
  }
}

@media only screen and (max-width: 767px){
  #interviews-section iframe{
    height: 300px;
  }
}